@import "reset";
@import "pagination";
@import "beer-list";
@import "beer-page";
@import "~react-datepicker/dist/react-datepicker.css";


html {
  box-sizing: border-box;
  font-family: Roboto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html{
  height: 100%;
}

#app-container{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container{
  flex-grow: 1;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body{
    width: 1180px;
    padding: 20px;
    margin: 0 auto;
    flex-grow: 1;
  }

  &__header,
  &__footer{
    text-align: center;
    padding: 10px;
    background: #ccc;
  }

  /*
  @media
   */
}

input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: transparent;
}

